*{
	margin:0px;
	padding:0px;
}
#principal{
	width:100%;
	display:inline-block;
	clear:both;
}
#fazer{
	width:25%;
	font-size:30px;
	margin-left:10%;
	float:left;
	background-color:#CCC;
}
#fazendo{
	width:25%;
	font-size:30px;
	margin-left:5%;
	float:left;
	background-color:#CCC;
}
#feito{
	width:25%;
	font-size:30px;
	margin-left:5%;
	float:left;
	background-color:#CCC;
}
.titulo{
	text-align:center;
	background-color:#777;
}